header.head.sticky
  .block.block-1.block-dark-grey
  .block.block-2.block-dark-grey
  .block.block-3.header-contacts.block-dark-grey
    a(href="tel:+78121232131").header-contacts-phone +7 (812) 12321-31
    br
    a(href="mailto:manager@gmail.com").header-contacts-email manager@gmail.com
